doctype
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block links
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
    link(rel='stylesheet', href='/components/Umi/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/minamo.min.css')
    block styles
    if pageTitle
      title #{pageTitle} | minamo.io
    else
      title minamo.io
  body
    header
      #header_nav.navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            a.navbar-brand(href='/') minamo.io
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar-main.navbar-collapse.collapse
            if profile
              .nav.navbar-right
                .navbar-text.hidden-xs
                  img.profile-image.img-circle(src=profile.avatar, width=40, height=40)
                .navbar-text.visible-xs
                  img.profile-image-xs.img-circle(src=profile.avatar, width=28, height=28)
                  a!= profile.username
            ul.nav.navbar-nav
              block header-nav
                li: a(href='/console/') console
                li: a(href='/console/logstream') log stream
        block navbar-addon
    .container
      block content
        h2 minamo.io is private PaaS platform
        p!= username

    block outer_content
    footer.footer
      .container
        p.text-muted Powered by minamo.io
    block extra_content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js', defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js', defer)
    block scripts
