doctype html
html
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  each tag in metas
    meta(name=`${tag[0]}` content=`${tag[1]}`)
  title !{title}
  style.
    body{display:none;background-color:#f9f9f9;}
 body
  #app !{markup}
  script.
    window.setTimeout(function(){document.body.style.display='block'},1500);
  script(src=`/styles.js?${integrities.styles.substring(7, 15)}`, integrity=`${integrities.styles}`, async)
  script(src=`/loader.js?${integrities.loader.substring(7, 15)}`, integrity=`${integrities.loader}`, async)
  script(src=`/bundle.js?${integrities.bundle.substring(7, 15)}`, integrity=`${integrities.bundle}`, async)
